@media screen and (max-width: 450px){
/* HEADER */
.logo, .full-nav{
  display: none;
}

.mini-nav{
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  border-bottom: 1px solid lightgrey;
}


/* MAIN 1 -- LEARN EVERYDAY*/
  .learning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 32px;
  }

  .learning h1{
    font-size: 2rem;
    padding: 32px 16px 16px 16px;
  }

  .subtext{
    padding: 0px 16px 0px 16px;
  }

  .left-side, .right-side {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    max-width: 450px;
    height: auto;
    justify-content: flex-start;
  }

  .start-button{
    display: block;
    width: 80%;
    align-self: center;
  }

/* MAIN 2 -- PRACTICING*/
    .practicing > .left-side2{
      display: none;
    }

    .practicing > .right-side2{
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    #orientation, #campus,
    #guest{
      flex-direction: column;
      padding: 32px 0 32px 0;
      margin: 0;
      border-bottom: none;
    }

    .full-img{
      display: none;
    }

    .mobile-img{
      display: flex;
      width: 364px;
      height: auto;
    }

    .rs-top > .info,
    .rs-mid > .info,
    .rs-bottom > .info {
      padding-left: 32px;
    }



/* MAIN 3 -- COURSES*/
  .starthere{
    background-color: white;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }

  .top-row,
  .bottom-row {
    display: none;
  }

  .starthere-mini{
    display: block;
    padding: 16px 16px 32px 16px;
  }

  .starthere-mini > ul li{
    background-color: lightgrey;
    padding: 16px 16px 24px 16px;
    margin-bottom: 8px;
    width: 90%;
  }

  .starthere-mini > ul li:hover{
    background-color: grey;
  }

  ul li > a {
    text-decoration: none;
    font-weight: 600;
    color: black;
  }

/* MAIN 4 -- THESIS */
  .reimagine, .right-side3{
    display: none;
  }

  .left-side3{
    width: 100%;
    padding: 0;
  }

  .title, .title2{
    margin-bottom: 16px;
    font-size: 2rem;
  }

/* FOOTER */
  footer{
    height: auto;
    justify-content: center;
  }

  .copyright{
    padding: 16px 0px;
  }

  .policies{
    display: none;
  }


}
